<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>570090437386-pcem3ip3qg1itp97irarkiqlggja0304.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570090437386-pcem3ip3qg1itp97irarkiqlggja0304</string>
	<key>API_KEY</key>
	<string>AIzaSyBWqTD0cLX9f0uoIo92vDXPl0VWAf3ngl4</string>
	<key>GCM_SENDER_ID</key>
	<string>570090437386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opetstudio.jemaatapp</string>
	<key>PROJECT_ID</key>
	<string>jemaatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>jemaatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570090437386:ios:ff01cc18e49d727c</string>
	<key>DATABASE_URL</key>
	<string>https://jemaatapp.firebaseio.com</string>
</dict>
</plist>